/*
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Noto Sans JP', sans-serif;
*/

body {
  margin:0 17%;
  background-image: url("../img/background-index.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  font-size:16px;
}

h1 {
  font-size:4em;
  margin-top:10%;
  margin-bottom: 2%;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color:white;
}

#explain {
  display:flex;
  align-items:center;
}

#explain img {
  width:45%;
  height:100%;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

#text {
  margin: 0 7%;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#text h2 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 1px;
  font-size: 2em;
  color:#027c8a;
  margin-top:40px;
}

#text p {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 10px auto;
  color:#00a7b3;
}

span {
  font-weight: 700;
  color:#027c8a;
}

#command h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5em;
  padding-top: 20px;
  text-decoration: underline;
  color:#027c8a;
}

#button {
  width:150px; 
  height:50px;
  margin: 9% auto;
  text-align: center;
  background-color:#027c8a
}

#button a {
  text-decoration: none;
}

#button p {
  padding-top: 12px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
  letter-spacing: 2px;
  color:white;
}

#button:hover {
  background-color:#DC143C;
  ccolor:#DC143C;
}

